force-app/main/default/flows/Data_360_Lead_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RT_Maps</name>
        <label>RT Maps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_ADI_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RT Mapping Exists</defaultConnectorLabel>
        <rules>
            <name>Mapping_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RT.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Mapping Does Not Exist</label>
        </rules>
    </decisions>
    <description>Pulls from Leads__dmo from SNAP/Control 4 org and writes them to ADI org</description>
    <environments>Default</environments>
    <formulas>
        <description>Fills in required ADI field</description>
        <name>FillCompanyNameifBlank</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Company__c}), &apos;None&apos;, {!$Record.Company__c})</expression>
    </formulas>
    <formulas>
        <name>TranslateRT</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordTypeId__c}, 
&quot;0121T0000006y5xQAA&quot;,&quot;012bh000001XoCDAA0&quot;,
&quot;0121T000000AStwQAG&quot;,&quot;012bh000001XoCEAA0&quot;,
&quot;0121T000000AUqBQAW&quot;,&quot;012bh000001XoCCAA0&quot;,
&quot;012380000005g41AAA&quot;,&quot;012bh000001XoCAAA0&quot;,
&quot;01238000000RZRHAA4&quot;,&quot;012bh000001XoC8AAK&quot;,
&quot;01238000000RZdxAAG&quot;,&quot;012bh000001XoC9AAK&quot;,
&quot;012500000005HzDAAU&quot;,&quot;012bh000001XoCBAA0&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Data 360 Lead Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data 360 Lead Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ADI_Lead_Records</name>
        <label>Create ADI Lead Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accounts_Payable_Email_Address__c</field>
            <value>
                <elementReference>$Record.Accounts_Payable_Email_Address_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Campaign__c</field>
            <value>
                <elementReference>$Record.Ad_Campaign_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advanced_Management__c</field>
            <value>
                <elementReference>$Record.Advanced_Management_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Business__c</field>
            <value>
                <elementReference>$Record.Affiliate_Business_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.AnnualRevenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_of_Homes_Units__c</field>
            <value>
                <elementReference>$Record.Annual_of_Homes_Units_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approximate_Home_Value__c</field>
            <value>
                <elementReference>$Record.Approximate_Home_Value_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Cameras__c</field>
            <value>
                <elementReference>$Record.Audio_Cameras_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ceiling_Depth__c</field>
            <value>
                <elementReference>$Record.Audio_Ceiling_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Configurable_Keypad__c</field>
            <value>
                <elementReference>$Record.Audio_Configurable_Keypad_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Customer_Budget__c</field>
            <value>
                <elementReference>$Record.Audio_Customer_Budget_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Door_Station_Style__c</field>
            <value>
                <elementReference>$Record.Audio_Door_Station_Style_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Door_Stations__c</field>
            <value>
                <elementReference>$Record.Audio_Door_Stations_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Floor_Plan_Available__c</field>
            <value>
                <elementReference>$Record.Audio_Floor_Plan_Available_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Has_Outdoor__c</field>
            <value>
                <elementReference>$Record.Audio_Has_Outdoor_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Has_Surround_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Has_Surround_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Home_Theater__c</field>
            <value>
                <elementReference>$Record.Audio_Home_Theater_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Max_Volume__c</field>
            <value>
                <elementReference>$Record.Audio_Max_Volume_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Onscreen_Navigator__c</field>
            <value>
                <elementReference>$Record.Audio_Onscreen_Navigator_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Outdoor__c</field>
            <value>
                <elementReference>$Record.Audio_Outdoor_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Room_Detail__c</field>
            <value>
                <elementReference>$Record.Audio_Room_Detail_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Seven_Inch_InWall__c</field>
            <value>
                <elementReference>$Record.Audio_Seven_Inch_InWall_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Seven_Inch_Portable__c</field>
            <value>
                <elementReference>$Record.Audio_Seven_Inch_Portable_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Layout__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Layout_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Line__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Pair_Qty__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Pair_Qty_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Placement__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Placement_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Stereo_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Stereo_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Surround_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Surround_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ten_Inch_InWall__c</field>
            <value>
                <elementReference>$Record.Audio_Ten_Inch_InWall_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ten_Inch_Portable__c</field>
            <value>
                <elementReference>$Record.Audio_Ten_Inch_Portable_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Thermostats__c</field>
            <value>
                <elementReference>$Record.Audio_Thermostats_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Touchscreen_Color__c</field>
            <value>
                <elementReference>$Record.Audio_Touchscreen_Color_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Tv_Input__c</field>
            <value>
                <elementReference>$Record.Audio_Tv_Input_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Wall_Depth__c</field>
            <value>
                <elementReference>$Record.Audio_Wall_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_With_Tv__c</field>
            <value>
                <elementReference>$Record.Audio_With_Tv_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Zones_Qty__c</field>
            <value>
                <elementReference>$Record.Audio_Zones_Qty_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoCad__c</field>
            <value>
                <elementReference>$Record.AutoCad_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_Goals__c</field>
            <value>
                <elementReference>$Record.Automation_Goals_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_Objective__c</field>
            <value>
                <elementReference>$Record.Automation_Objective_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Away_from_Home_Often__c</field>
            <value>
                <elementReference>$Record.Away_from_Home_Often_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUYING_INFLUENCE__c</field>
            <value>
                <elementReference>$Record.BUYING_INFLUENCE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Contact_Time__c</field>
            <value>
                <elementReference>$Record.Best_Contact_Time_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuilderRelationships__c</field>
            <value>
                <elementReference>$Record.BuilderRelationships_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Construction_Types__c</field>
            <value>
                <elementReference>$Record.Builder_Construction_Types_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Lead_Record_Type_Conversion__c</field>
            <value>
                <elementReference>$Record.Builder_Lead_Record_Type_Conversion_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Type__c</field>
            <value>
                <elementReference>$Record.Builder_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carry_Pro_Installed_Product_Line__c</field>
            <value>
                <elementReference>$Record.Carry_Pro_Installed_Product_Line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ceiling_Material__c</field>
            <value>
                <elementReference>$Record.Ceiling_Material_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>$Record.Cell_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Central_Design_Type__c</field>
            <value>
                <elementReference>$Record.Central_Design_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clare_Type__c</field>
            <value>
                <elementReference>$Record.Clare_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comfort_Convenience__c</field>
            <value>
                <elementReference>$Record.Comfort_Convenience_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>FillCompanyNameifBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeocodeAccuracy</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installers__c</field>
            <value>
                <elementReference>$Record.Installers_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jigsaw</field>
            <value>
                <elementReference>$Record.Jigsaw__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobsCommercial__c</field>
            <value>
                <elementReference>$Record.JobsCommercial_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobsRetrofit__c</field>
            <value>
                <elementReference>$Record.JobsRetrofit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs__c</field>
            <value>
                <elementReference>$Record.Jobs_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.Lead_Disposition_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Message__c</field>
            <value>
                <elementReference>$Record.Lead_Message_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Details__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Details_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Subject__c</field>
            <value>
                <elementReference>$Record.Lead_Subject_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewConstruction__c</field>
            <value>
                <elementReference>$Record.NewConstruction_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.NumberOfEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TranslateRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPeople__c</field>
            <value>
                <elementReference>$Record.SalesPeople_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_of_employees__c</field>
            <value>
                <elementReference>$Record.number_of_employees_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Maps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeIdSNAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SObjectApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DataSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Salesforce_Home</stringValue>
            </value>
        </filters>
        <object>Lead_SNAPfs__dlm</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
