force-app/main/default/flows/Data_360_Contacts_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>SystemFlowUserRecord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SYSTEM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Newer_Than_Target</name>
        <label>Is Newer Than Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>It is Not Newer</defaultConnectorLabel>
        <rules>
            <name>It_Is_Newer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_CRM_Record_by_Global_ID.Last_Synced_Timestamp__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SNAP_Contact_Records_in_ADI</targetReference>
            </connector>
            <label>It Is Newer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Snap_Contact</name>
        <label>Is Snap Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_AccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_SNAP_contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_RT.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Global_Contact_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Snap_Data_Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not a SNAP contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Update_Or_Create</name>
        <label>Record Update Or Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Newer_Than_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountId.Global_Account_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ADI_Contacts</targetReference>
            </connector>
            <label>Does Not Exist - Create</label>
        </rules>
    </decisions>
    <description>Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>OwnerOrUserid</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Owner_ID.Id}), {!$User.Id}, {!Get_Owner_ID.Id})</expression>
    </formulas>
    <formulas>
        <description>For Create Records the first entry is blank</description>
        <name>SetRecordLastSyncDatetimetoLastmodifiedornull</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Get_System_User.RecordTypeIdADI__c}={!$Record.CreatedById__c}, {!$Record.LastModifiedDate__c}, NULL)</expression>
    </formulas>
    <interviewLabel>Data 360 Contact Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data 360 Contact Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ADI_Contacts</name>
        <label>Create ADI Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_AccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Contact__c</field>
            <value>
                <elementReference>$Record.Accounting_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantName</field>
            <value>
                <elementReference>$Record.AssistantName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>$Record.AssistantPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atlas_Last_Processed__c</field>
            <value>
                <elementReference>$Record.Atlas_Last_Processed_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_to_Talk_to_Support__c</field>
            <value>
                <elementReference>$Record.Authorized_to_Talk_to_Support_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avatar_URL__c</field>
            <value>
                <elementReference>$Record.Avatar_URL_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beta_Participant__c</field>
            <value>
                <elementReference>$Record.Beta_Participant_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Business_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Business_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified__c</field>
            <value>
                <elementReference>$Record.Certified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Account_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Account_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Account_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Account_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_No_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_No_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_No_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_No_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Urgent_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Urgent_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Urgent_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Urgent_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <elementReference>$Record.Contact_Role_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Score_Explicit__c</field>
            <value>
                <elementReference>$Record.Contact_Score_Explicit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Score_Implicit__c</field>
            <value>
                <elementReference>$Record.Contact_Score_Implicit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Details_Most_Recent__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Details_Most_Recent_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Details__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Details_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Most_Recent__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Most_Recent_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_System__c</field>
            <value>
                <elementReference>$Record.Contact_Source_System_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Contact_for_Leads__c</field>
            <value>
                <elementReference>$Record.Dealer_Contact_for_Leads_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Life_Cycle_Status__c</field>
            <value>
                <elementReference>$Record.Dealer_Life_Cycle_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Of_Record_Email__c</field>
            <value>
                <elementReference>$Record.Dealer_Of_Record_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalUserEnabled__c</field>
            <value>
                <elementReference>$Record.ExternalUserEnabled_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.HomePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inactive__c</field>
            <value>
                <elementReference>$Record.Inactive_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installer_Survey__c</field>
            <value>
                <elementReference>$Record.Installer_Survey_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Migrated_to_Snapav_com__c</field>
            <value>
                <elementReference>$Record.Is_Migrated_to_Snapav_com_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KPI_Contact__c</field>
            <value>
                <elementReference>$Record.KPI_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Synced_Timestamp__c</field>
            <value>
                <elementReference>SetRecordLastSyncDatetimetoLastmodifiedornull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Customer_Id__c</field>
            <value>
                <elementReference>$Record.Legacy_Customer_Id_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.MailingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.MailingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.MailingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.MailingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.Middle_Name_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Verified__c</field>
            <value>
                <elementReference>$Record.Mobile_Phone_Verified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>$Record.OtherCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>$Record.OtherCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.OtherPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>$Record.OtherState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>$Record.OtherStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerOrUserid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Achieved_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Achieved_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Certified__c</field>
            <value>
                <elementReference>$Record.PCNA_Certified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Expiration_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Expiration_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Purchase_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Purchase_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Email_Sent_30days__c</field>
            <value>
                <elementReference>$Record.Pardot_Email_Sent_30days_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passed_To_Dealer__c</field>
            <value>
                <elementReference>$Record.Passed_To_Dealer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password_Locked__c</field>
            <value>
                <elementReference>$Record.Password_Locked_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Verified__c</field>
            <value>
                <elementReference>$Record.Personal_Email_Verified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Inside_Sales_Contact__c</field>
            <value>
                <elementReference>$Record.Primary_Inside_Sales_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_User__c</field>
            <value>
                <elementReference>$Record.Primary_User_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.RecordTypeIdADI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>Get_Reports_To_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>$Record.Role_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_CONTACT_ID__c</field>
            <value>
                <elementReference>$Record.SAP_CONTACT_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_in__c</field>
            <value>
                <elementReference>$Record.SMS_Opt_in_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_C_Sat_Tech__c</field>
            <value>
                <elementReference>$Record.Survey_C_Sat_Tech_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Tech_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Tech_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Community_ID__c</field>
            <value>
                <elementReference>$Record.Technical_Community_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Contact__c</field>
            <value>
                <elementReference>$Record.Test_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Status__c</field>
            <value>
                <elementReference>$Record.Training_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Urgent_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Urgent_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X4Sight_Subscription_Notifications__c</field>
            <value>
                <elementReference>$Record.X4Sight_Subscription_Notifications_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Active__c</field>
            <value>
                <elementReference>$Record.eCom_Active_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Is_Deleted__c</field>
            <value>
                <elementReference>$Record.eCom_Is_Deleted_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Primary_User__c</field>
            <value>
                <elementReference>$Record.eCom_Primary_User_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Username__c</field>
            <value>
                <elementReference>$Record.eCom_Username_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uuid__c</field>
            <value>
                <elementReference>$Record.uuid_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountId</name>
        <label>Get AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Global_ID</name>
        <label>Get Contact Global ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Global_Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Global_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CRM_Record_by_Global_ID</name>
        <label>Get CRM Record by Global ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Snap_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Global_Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Global_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_ID</name>
        <label>Get Owner ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reports_To_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reports_To_Id</name>
        <label>Get Reports To Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Global_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReportsToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CRM_Record_by_Global_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeIdSNAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType_Map__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeIdADI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_User</name>
        <label>Get System User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Update_Or_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SystemFlowUserRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SNAP_Contact_Records_in_ADI</name>
        <label>Update SNAP Contact Records in ADI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Global_Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Global_Contact_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_AccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Contact__c</field>
            <value>
                <elementReference>$Record.Accounting_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantName</field>
            <value>
                <elementReference>$Record.AssistantName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>$Record.AssistantPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atlas_Last_Processed__c</field>
            <value>
                <elementReference>$Record.Atlas_Last_Processed_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_to_Talk_to_Support__c</field>
            <value>
                <elementReference>$Record.Authorized_to_Talk_to_Support_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avatar_URL__c</field>
            <value>
                <elementReference>$Record.Avatar_URL_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beta_Participant__c</field>
            <value>
                <elementReference>$Record.Beta_Participant_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Business_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Business_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified__c</field>
            <value>
                <elementReference>$Record.Certified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Account_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Account_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Account_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Account_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_No_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_No_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Business_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Business_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_No_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_No_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Technical_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Technical_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Urgent_Home_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Urgent_Home_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Pref_Urgent_Work_Email__c</field>
            <value>
                <elementReference>$Record.Com_Pref_Urgent_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <elementReference>$Record.Contact_Role_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Score_Explicit__c</field>
            <value>
                <elementReference>$Record.Contact_Score_Explicit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Score_Implicit__c</field>
            <value>
                <elementReference>$Record.Contact_Score_Implicit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Details_Most_Recent__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Details_Most_Recent_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Details__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Details_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_Most_Recent__c</field>
            <value>
                <elementReference>$Record.Contact_Source_Most_Recent_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_System__c</field>
            <value>
                <elementReference>$Record.Contact_Source_System_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Contact_for_Leads__c</field>
            <value>
                <elementReference>$Record.Dealer_Contact_for_Leads_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Life_Cycle_Status__c</field>
            <value>
                <elementReference>$Record.Dealer_Life_Cycle_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Of_Record_Email__c</field>
            <value>
                <elementReference>$Record.Dealer_Of_Record_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalUserEnabled__c</field>
            <value>
                <elementReference>$Record.ExternalUserEnabled_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.HomePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inactive__c</field>
            <value>
                <elementReference>$Record.Inactive_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installer_Survey__c</field>
            <value>
                <elementReference>$Record.Installer_Survey_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Migrated_to_Snapav_com__c</field>
            <value>
                <elementReference>$Record.Is_Migrated_to_Snapav_com_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KPI_Contact__c</field>
            <value>
                <elementReference>$Record.KPI_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Synced_Timestamp__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Customer_Id__c</field>
            <value>
                <elementReference>$Record.Legacy_Customer_Id_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.MailingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.MailingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.MailingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.MailingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.Middle_Name_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Verified__c</field>
            <value>
                <elementReference>$Record.Mobile_Phone_Verified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>$Record.OtherCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>$Record.OtherCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.OtherPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>$Record.OtherState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>$Record.OtherStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerOrUserid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Achieved_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Achieved_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Certified__c</field>
            <value>
                <elementReference>$Record.PCNA_Certified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Expiration_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Expiration_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCNA_Purchase_Date__c</field>
            <value>
                <elementReference>$Record.PCNA_Purchase_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Email_Sent_30days__c</field>
            <value>
                <elementReference>$Record.Pardot_Email_Sent_30days_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passed_To_Dealer__c</field>
            <value>
                <elementReference>$Record.Passed_To_Dealer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password_Locked__c</field>
            <value>
                <elementReference>$Record.Password_Locked_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Verified__c</field>
            <value>
                <elementReference>$Record.Personal_Email_Verified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Inside_Sales_Contact__c</field>
            <value>
                <elementReference>$Record.Primary_Inside_Sales_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_User__c</field>
            <value>
                <elementReference>$Record.Primary_User_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.RecordTypeIdADI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>Get_Reports_To_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>$Record.Role_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_CONTACT_ID__c</field>
            <value>
                <elementReference>$Record.SAP_CONTACT_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_in__c</field>
            <value>
                <elementReference>$Record.SMS_Opt_in_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_C_Sat_Tech__c</field>
            <value>
                <elementReference>$Record.Survey_C_Sat_Tech_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Tech_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Tech_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Community_ID__c</field>
            <value>
                <elementReference>$Record.Technical_Community_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Contact__c</field>
            <value>
                <elementReference>$Record.Test_Contact_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Status__c</field>
            <value>
                <elementReference>$Record.Training_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Communications_Personal_Email__c</field>
            <value>
                <elementReference>$Record.Urgent_Communications_Personal_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Communications_Work_Email__c</field>
            <value>
                <elementReference>$Record.Urgent_Communications_Work_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X4Sight_Subscription_Notifications__c</field>
            <value>
                <elementReference>$Record.X4Sight_Subscription_Notifications_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Active__c</field>
            <value>
                <elementReference>$Record.eCom_Active_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Is_Deleted__c</field>
            <value>
                <elementReference>$Record.eCom_Is_Deleted_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Primary_User__c</field>
            <value>
                <elementReference>$Record.eCom_Primary_User_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCom_Username__c</field>
            <value>
                <elementReference>$Record.eCom_Username_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uuid__c</field>
            <value>
                <elementReference>$Record.uuid_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Data_Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Global_Contact_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact_SNAP__dlm</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Draft</status>
</Flow>
