force-app/main/default/flows/Data_360_SNAP_to_ADI_Account_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Snap_Sync</name>
        <label>Is Snap Sync</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_ISM_Account_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Snap Sync Data</defaultConnectorLabel>
        <rules>
            <name>Is_Not_SNAP_Sync_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Snap_Data_Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Not SNAP Sync Data</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Data 360 SNAP to ADI Account Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data 360 SNAP to ADI Account Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ADI_Accounts</name>
        <label>Update ADI Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ACH_Collection_Status__c</field>
            <value>
                <elementReference>$Record.ACH_Collection_Status_c__c</elementReference>
            </value>
        </inputAssignments>
 
        <inputAssignments>
            <field>ADI_Segment__c</field>
            <value>
                <elementReference>$Record.ADI_Segment_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>$Record.AccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Group__c</field>
            <value>
                <elementReference>$Record.Account_Group_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Password__c</field>
            <value>
                <elementReference>$Record.Account_Password_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>$Record.Account_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allow_Online_RMA__c</field>
            <value>
                <elementReference>$Record.Allow_Online_RMA_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.AnnualRevenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Authorized_Date__c</field>
            <value>
                <elementReference>$Record.Assist_Authorized_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Authorized__c</field>
            <value>
                <elementReference>$Record.Assist_Authorized_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Prequalified__c</field>
            <value>
                <elementReference>$Record.Assist_Prequalified_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Support_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Assist_Support_Contact_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Support_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Assist_Support_Contact_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Account_Record_Type_Conversio__c</field>
            <value>
                <elementReference>$Record.Builder_Account_Record_Type_Conversio_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_Account_Number__c</field>
            <value>
                <elementReference>$Record.Buying_Group_Account_Number_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_CEPro100__c</field>
            <value>
                <elementReference>$Record.Buying_Group_CEPro100_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_HTSA__c</field>
            <value>
                <elementReference>$Record.Buying_Group_HTSA_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_Power_Group__c</field>
            <value>
                <elementReference>$Record.Buying_Group_Power_Group_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_Pro_Source__c</field>
            <value>
                <elementReference>$Record.Buying_Group_Pro_Source_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group_SEN__c</field>
            <value>
                <elementReference>$Record.Buying_Group_SEN_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Group__c</field>
            <value>
                <elementReference>$Record.Buying_Group_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C4_Badge_Level__c</field>
            <value>
                <elementReference>$Record.C4_Badge_Level_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUSTOMER_SINCE__c</field>
            <value>
                <elementReference>$Record.CUSTOMER_SINCE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charter_Exception__c</field>
            <value>
                <elementReference>$Record.Charter_Exception_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Commercial_BDM__c</field>
            <value>
                <elementReference>$Record.Chartered_Commercial_BDM_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Commercial_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_Commercial_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Core_Inside_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_Core_Inside_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Core_Outside_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_Core_Outside_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Hospitality__c</field>
            <value>
                <elementReference>$Record.Chartered_Hospitality_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Local_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_Local_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_National_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_National_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Sales_Engineer__c</field>
            <value>
                <elementReference>$Record.Chartered_Sales_Engineer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Security_BDM__c</field>
            <value>
                <elementReference>$Record.Chartered_Security_BDM_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Security_Rep__c</field>
            <value>
                <elementReference>$Record.Chartered_Security_Rep_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chartered_Unassigned__c</field>
            <value>
                <elementReference>$Record.Chartered_Unassigned_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_BDM__c</field>
            <value>
                <elementReference>Get_Commercial_BDM.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Rep__c</field>
            <value>
                <elementReference>Get_Commercial_Rep.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitive_Control_Brands_Sold__c</field>
            <value>
                <elementReference>$Record.Competitive_Control_Brands_Sold_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connect_Support_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Connect_Support_Contact_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connect_Support_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Connect_Support_Contact_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Control4_Business_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Control4_Business_Contact_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Control4_Business_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Control4_Business_Contact_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Converted_Lead__c</field>
            <value>
                <elementReference>Get_Converted_Lead.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_City_Manual_Override__c</field>
            <value>
                <elementReference>$Record.Core_City_Manual_Override_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Inside_Rep__c</field>
            <value>
                <elementReference>Get_Sales_Inside_Rep.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Outside_Rep__c</field>
            <value>
                <elementReference>Get_Sales_BDM_Core_Outside_Rep.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Sales_Engineer__c</field>
            <value>
                <elementReference>Get_Sales_Engineer.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Premier_Status__c</field>
            <value>
                <elementReference>$Record.Current_Premier_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Quarter_Sales__c</field>
            <value>
                <elementReference>$Record.Current_Quarter_Sales_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Contact_for_Leads__c</field>
            <value>
                <elementReference>Get_Dealer_Contact_for_Leads.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Type2__c</field>
            <value>
                <elementReference>$Record.Dealer_Type2_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Visit__c</field>
            <value>
                <elementReference>$Record.Dealer_Visit_c__c</elementReference>
            </value>
        </inputAssignments>
  
        <inputAssignments>
            <field>Dummy__c</field>
            <value>
                <elementReference>$Record.Dummy_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EC_Account_Number__c</field>
            <value>
                <elementReference>$Record.EC_Account_Number_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationBoolean__c</field>
            <value>
                <elementReference>$Record.ExpirationBoolean_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HTSA__c</field>
            <value>
                <elementReference>$Record.HTSA_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Certified_Showroom__c</field>
            <value>
                <elementReference>$Record.Has_Certified_Showroom_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Many_Certified_C4_Installers__c</field>
            <value>
                <elementReference>$Record.How_Many_Certified_C4_Installers_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISM_Account_Owner__c</field>
            <value>
                <elementReference>Get_ISM_Account_Records.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>$Record.Market_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Home_Address__c</field>
            <value>
                <elementReference>$Record.Model_Home_Address_c__c</elementReference>
            </value>
        </inputAssignments>


        <inputAssignments>
            <field>Most_Recent_Order__c</field>
            <value>
                <elementReference>$Record.Most_Recent_Order_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Rep__c</field>
            <value>
                <elementReference>Get_Enterprise_BDM_National_Rep.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewCo_Segment__c</field>
            <value>
                <elementReference>$Record.NewCo_Segment_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewCo_Vertical__c</field>
            <value>
                <elementReference>$Record.NewCo_Vertical_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Technical_Support__c</field>
            <value>
                <elementReference>$Record.No_Technical_Support_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.NumberOfEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees_del__c</field>
            <value>
                <elementReference>$Record.Number_of_Employees_del_c__c</elementReference>
            </value>
        </inputAssignments>

  
        <inputAssignments>
            <field>Offer_1__c</field>
            <value>
                <elementReference>$Record.Offer_1_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_2__c</field>
            <value>
                <elementReference>$Record.Offer_2_c__c</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <field>Ovrc_Linked__c</field>
            <value>
                <elementReference>$Record.Ovrc_Linked_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership</field>
            <value>
                <elementReference>$Record.Ownership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRO_GROUP__c</field>
            <value>
                <elementReference>$Record.PRO_GROUP_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PYSales__c</field>
            <value>
                <elementReference>$Record.PYSales_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Parent_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_of_Builder_Program__c</field>
            <value>
                <elementReference>$Record.Part_of_Builder_Program_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Agreement_Enabled_Date__c</field>
            <value>
                <elementReference>$Record.Partner_Agreement_Enabled_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Agreement_Enabled__c</field>
            <value>
                <elementReference>$Record.Partner_Agreement_Enabled_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Agreement_Signed_Date__c</field>
            <value>
                <elementReference>$Record.Partner_Agreement_Signed_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Agreement_Signed__c</field>
            <value>
                <elementReference>$Record.Partner_Agreement_Signed_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Rewards_Level__c</field>
            <value>
                <elementReference>$Record.Partner_Rewards_Level_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>$Record.Password_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pinnacle_Dealer__c</field>
            <value>
                <elementReference>$Record.Pinnacle_Dealer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premier_Status__c</field>
            <value>
                <elementReference>$Record.Premier_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quarter_Sales__c</field>
            <value>
                <elementReference>$Record.Previous_Quarter_Sales_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Account_Email__c</field>
            <value>
                <elementReference>$Record.Primary_Account_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Control_Brand_Sold__c</field>
            <value>
                <elementReference>$Record.Primary_Control_Brand_Sold_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Inside_Sales_Contact__c</field>
            <value>
                <elementReference>Get_Primary_Inside_Sales_Contact.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Outside_Sales_Contact__c</field>
            <value>
                <elementReference>Get_Primary_Outside_Sales_Contact.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Contact__c</field>
            <value>
                <elementReference>Get_Primary_Sales_Contact.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
  
  


        <inputAssignments>
            <field>RMA_CC_Email__c</field>
            <value>
                <elementReference>$Record.RMA_CC_Email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reactivation_Date__c</field>
            <value>
                <elementReference>$Record.Reactivation_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Charter_Exception__c</field>
            <value>
                <elementReference>$Record.Reason_For_Charter_Exception_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebate_Offers__c</field>
            <value>
                <elementReference>$Record.Rebate_Offers_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.RecordTypeIdADI__c</elementReference>
            </value>
        </inputAssignments>
  
        <inputAssignments>
            <field>SAP_Assist_Authorized__c</field>
            <value>
                <elementReference>$Record.SAP_Assist_Authorized_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEN_Member__c</field>
            <value>
                <elementReference>$Record.SEN_Member_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSA_Email_Flag__c</field>
            <value>
                <elementReference>$Record.SSA_Email_Flag_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSA__c</field>
            <value>
                <elementReference>Get_SSA.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Director__c</field>
            <value>
                <elementReference>Get_Sales_Director.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Growth_Strategy__c</field>
            <value>
                <elementReference>$Record.Sales_Growth_Strategy_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Priority__c</field>
            <value>
                <elementReference>$Record.Sales_Priority_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.ShippingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Showroom_Certified_Date__c</field>
            <value>
                <elementReference>$Record.Showroom_Certified_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SnapAV_Dealer_ID__c</field>
            <value>
                <elementReference>$Record.SnapAV_Dealer_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Snap_Id__c</field>
            <value>
                <elementReference>$Record.Account_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Phone__c</field>
            <value>
                <elementReference>$Record.Support_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TFM_Account_Owner__c</field>
            <value>
                <elementReference>Get_TFM_Account_Owner.Snap_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Take_2__c</field>
            <value>
                <elementReference>$Record.Take_2_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territories_Authorized__c</field>
            <value>
                <elementReference>$Record.Territories_Authorized_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TickerSymbol</field>
            <value>
                <elementReference>$Record.TickerSymbol__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Revenue_Last_Year__c</field>
            <value>
                <elementReference>$Record.Total_Revenue_Last_Year_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Market__c</field>
            <value>
                <elementReference>$Record.Vertical_Market_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W9_Status__c</field>
            <value>
                <elementReference>$Record.W9_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Dealer_Visits__c</field>
            <value>
                <elementReference>$Record.Weekly_Dealer_Visits_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Down__c</field>
            <value>
                <elementReference>$Record.Why_Down_c__c</elementReference>
            </value>
        </inputAssignments>

        <inputAssignments>
            <field>YTD_Revenue__c</field>
            <value>
                <elementReference>$Record.YTD_Revenue_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Sales__c</field>
            <value>
                <elementReference>$Record.YTD_Sales_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copy_email__c</field>
            <value>
                <elementReference>$Record.copy_email_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Connect_Customers__c</field>
            <value>
                <elementReference>$Record.of_Connect_Customers_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
      
    </recordUpdates>
    <recordLookups>
        <name>Get_Commercial_BDM</name>
        <label>Get Commercial BDM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Inside_Sales_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commercial_BDM_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commercial_Rep</name>
        <label>Get Commercial Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commercial_Rep_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Contact_for_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Converted_Lead_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Contact_for_Leads</name>
        <label>Get Dealer Contact for Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commercial_BDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Contact_for_Leads_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enterprise_BDM_National_Rep</name>
        <label>Get Enterprise BDM (National Rep)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commercial_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.National_Rep_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ISM_Account_Records</name>
        <label>Get ISM Account Owner Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enterprise_BDM_National_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ISM_Account_Owner_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Id</name>
        <label>Get Parent Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ADI_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
         <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Inside_Sales_Contact</name>
        <label>Get Primary Inside Sales Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Outside_Sales_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Inside_Sales_Contact_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Outside_Sales_Contact</name>
        <label>Get Primary Outside Sales Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Sales_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Outside_Sales_Contact_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Sales_Contact</name>
        <label>Get Primary Sales Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_BDM_Core_Outside_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Sales_Contact_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Snap_Sync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeIdSNAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType_Map__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeIdADI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_BDM_Core_Outside_Rep</name>
        <label>Get Sales BDM (Core Outside Rep)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Director</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Outside_Rep_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Director</name>
        <label>Get Sales Director</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Engineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Director_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Engineer</name>
        <label>Get Sales Engineer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Inside_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Sales_Engineer_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Inside_Rep</name>
        <label>Get Sales Inside Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Inside_Rep_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA</name>
        <label>Get SSA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TFM_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SSA_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TFM_Account_Owner</name>
        <label>Get TFM Account Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TFM_Account_Owner_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Data_Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account_SNAPfs__dlm</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Draft</status>
</Flow>
