force-app/main/default/flows/Data_360_Lead_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RT_Maps</name>
        <label>RT Maps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_ADI_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RT Mapping Exists</defaultConnectorLabel>
        <rules>
            <name>Mapping_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RT.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Mapping Does Not Exist</label>
        </rules>
    </decisions>
    <description>Pulls from Leads__dmo from SNAP/Control 4 org and writes them to ADI org</description>
    <environments>Default</environments>
    <formulas>
        <description>Fills in required ADI field</description>
        <name>FillCompanyNameifBlank</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Company__c}), &apos;None&apos;, {!$Record.Company__c})</expression>
    </formulas>
    <formulas>
        <description>Defaults to running user if owner id lookup returns nothing</description>
        <name>OwnerOrCurrentUser</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Owner_Id.Id}), {!$User.Id}, {!Get_Owner_Id.Id})</expression>
    </formulas>
    <interviewLabel>Data 360 SNAP to ADI Lead Creates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data 360 SNAP to ADI Lead Creates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ADI_Lead_Records</name>
        <label>Create ADI Lead Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accounts_Payable_Email_Address__c</field>
            <value>
                <elementReference>$Record.Accounts_Payable_Email_Address_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Campaign__c</field>
            <value>
                <elementReference>$Record.Ad_Campaign_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advanced_Management__c</field>
            <value>
                <elementReference>$Record.Advanced_Management_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Business__c</field>
            <value>
                <elementReference>$Record.Affiliate_Business_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.AnnualRevenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_of_Homes_Units__c</field>
            <value>
                <elementReference>$Record.Annual_of_Homes_Units_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approximate_Home_Value__c</field>
            <value>
                <elementReference>$Record.Approximate_Home_Value_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Cameras__c</field>
            <value>
                <elementReference>$Record.Audio_Cameras_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ceiling_Depth__c</field>
            <value>
                <elementReference>$Record.Audio_Ceiling_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Configurable_Keypad__c</field>
            <value>
                <elementReference>$Record.Audio_Configurable_Keypad_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Customer_Budget__c</field>
            <value>
                <elementReference>$Record.Audio_Customer_Budget_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Door_Station_Style__c</field>
            <value>
                <elementReference>$Record.Audio_Door_Station_Style_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Door_Stations__c</field>
            <value>
                <elementReference>$Record.Audio_Door_Stations_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Floor_Plan_Available__c</field>
            <value>
                <elementReference>$Record.Audio_Floor_Plan_Available_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Has_Outdoor__c</field>
            <value>
                <elementReference>$Record.Audio_Has_Outdoor_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Has_Surround_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Has_Surround_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Home_Theater__c</field>
            <value>
                <elementReference>$Record.Audio_Home_Theater_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Max_Volume__c</field>
            <value>
                <elementReference>$Record.Audio_Max_Volume_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Onscreen_Navigator__c</field>
            <value>
                <elementReference>$Record.Audio_Onscreen_Navigator_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Outdoor__c</field>
            <value>
                <elementReference>$Record.Audio_Outdoor_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Room_Detail__c</field>
            <value>
                <elementReference>$Record.Audio_Room_Detail_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Seven_Inch_InWall__c</field>
            <value>
                <elementReference>$Record.Audio_Seven_Inch_InWall_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Seven_Inch_Portable__c</field>
            <value>
                <elementReference>$Record.Audio_Seven_Inch_Portable_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Layout__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Layout_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Line__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Pair_Qty__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Pair_Qty_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Speaker_Placement__c</field>
            <value>
                <elementReference>$Record.Audio_Speaker_Placement_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Stereo_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Stereo_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Surround_Sound__c</field>
            <value>
                <elementReference>$Record.Audio_Surround_Sound_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ten_Inch_InWall__c</field>
            <value>
                <elementReference>$Record.Audio_Ten_Inch_InWall_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Ten_Inch_Portable__c</field>
            <value>
                <elementReference>$Record.Audio_Ten_Inch_Portable_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Thermostats__c</field>
            <value>
                <elementReference>$Record.Audio_Thermostats_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Touchscreen_Color__c</field>
            <value>
                <elementReference>$Record.Audio_Touchscreen_Color_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Tv_Input__c</field>
            <value>
                <elementReference>$Record.Audio_Tv_Input_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Wall_Depth__c</field>
            <value>
                <elementReference>$Record.Audio_Wall_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_With_Tv__c</field>
            <value>
                <elementReference>$Record.Audio_With_Tv_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audio_Zones_Qty__c</field>
            <value>
                <elementReference>$Record.Audio_Zones_Qty_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoCad__c</field>
            <value>
                <elementReference>$Record.AutoCad_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_Goals__c</field>
            <value>
                <elementReference>$Record.Automation_Goals_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automation_Objective__c</field>
            <value>
                <elementReference>$Record.Automation_Objective_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Away_from_Home_Often__c</field>
            <value>
                <elementReference>$Record.Away_from_Home_Often_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUYING_INFLUENCE__c</field>
            <value>
                <elementReference>$Record.BUYING_INFLUENCE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Contact_Time__c</field>
            <value>
                <elementReference>$Record.Best_Contact_Time_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuilderRelationships__c</field>
            <value>
                <elementReference>$Record.BuilderRelationships_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Construction_Types__c</field>
            <value>
                <elementReference>$Record.Builder_Construction_Types_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Lead_Record_Type_Conversion__c</field>
            <value>
                <elementReference>$Record.Builder_Lead_Record_Type_Conversion_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Builder_Type__c</field>
            <value>
                <elementReference>$Record.Builder_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carry_Pro_Installed_Product_Line__c</field>
            <value>
                <elementReference>$Record.Carry_Pro_Installed_Product_Line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ceiling_Material__c</field>
            <value>
                <elementReference>$Record.Ceiling_Material_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>$Record.Cell_Phone_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Central_Design_Type__c</field>
            <value>
                <elementReference>$Record.Central_Design_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clare_Type__c</field>
            <value>
                <elementReference>$Record.Clare_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comfort_Convenience__c</field>
            <value>
                <elementReference>$Record.Comfort_Convenience_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>FillCompanyNameifBlank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Type__c</field>
            <value>
                <elementReference>$Record.Construction_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Username__c</field>
            <value>
                <elementReference>$Record.Contact_Username_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacted_Control4_Dealer__c</field>
            <value>
                <elementReference>$Record.Contacted_Control4_Dealer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Control4_Interest__c</field>
            <value>
                <elementReference>$Record.Control4_Interest_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Control_Objective__c</field>
            <value>
                <elementReference>$Record.Control_Objective_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConvertedFromLead__c</field>
            <value>
                <elementReference>$Record.ConvertedFromLead_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_City__c</field>
            <value>
                <elementReference>$Record.Core_City_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>$Record.Currency_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Promotions__c</field>
            <value>
                <elementReference>$Record.Current_Promotions_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currently_sell_home_automation_line__c</field>
            <value>
                <elementReference>$Record.Currently_sell_home_automation_line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact_Attempts__c</field>
            <value>
                <elementReference>$Record.Customer_Contact_Attempts_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_2__c</field>
            <value>
                <elementReference>Get_Dealer_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_3__c</field>
            <value>
                <elementReference>Get_Dealer_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Brand__c</field>
            <value>
                <elementReference>$Record.Dealer_Brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Contact_Attempts__c</field>
            <value>
                <elementReference>$Record.Dealer_Contact_Attempts_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Cost__c</field>
            <value>
                <elementReference>$Record.Dealer_Cost_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Name_Design_Services__c</field>
            <value>
                <elementReference>$Record.Dealer_Name_Design_Services_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Name__c</field>
            <value>
                <elementReference>Get_Dealer_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>Get_Dealer_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Service_Reason__c</field>
            <value>
                <elementReference>$Record.Design_Service_Reason_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Service_Type__c</field>
            <value>
                <elementReference>$Record.Design_Service_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dimming_Type__c</field>
            <value>
                <elementReference>$Record.Dimming_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawn__c</field>
            <value>
                <elementReference>$Record.Drawn_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Energy_Efficient__c</field>
            <value>
                <elementReference>$Record.Energy_Efficient_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertain_A_Lot__c</field>
            <value>
                <elementReference>$Record.Entertain_A_Lot_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertainment__c</field>
            <value>
                <elementReference>$Record.Entertainment_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>$Record.Environment_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Budget__c</field>
            <value>
                <elementReference>$Record.Estimated_Budget_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Control4_Revenue__c</field>
            <value>
                <elementReference>$Record.Estimated_Control4_Revenue_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_PoE_Wattage__c</field>
            <value>
                <elementReference>$Record.Estimated_PoE_Wattage_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extension__c</field>
            <value>
                <elementReference>$Record.Extension_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Federal_Tax_ID__c</field>
            <value>
                <elementReference>$Record.Federal_Tax_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floors__c</field>
            <value>
                <elementReference>$Record.Floors_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
            <value>
                <elementReference>$Record.Form_Name_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeocodeAccuracy</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Control_Interest__c</field>
            <value>
                <elementReference>$Record.Home_Control_Interest_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Size_Unit__c</field>
            <value>
                <elementReference>$Record.Home_Size_Unit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Size__c</field>
            <value>
                <elementReference>$Record.Home_Size_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Unit_Price_Range__c</field>
            <value>
                <elementReference>$Record.Annual_of_Homes_Units_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomplete_Reason__c</field>
            <value>
                <elementReference>$Record.Incomplete_Reason_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installers__c</field>
            <value>
                <elementReference>$Record.Installers_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interior_Wall_Material__c</field>
            <value>
                <elementReference>$Record.Interior_Wall_Material_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_business_located_in_the_US__c</field>
            <value>
                <elementReference>$Record.Is_your_business_located_in_the_US_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jigsaw</field>
            <value>
                <elementReference>$Record.Jigsaw__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobsCommercial__c</field>
            <value>
                <elementReference>$Record.JobsCommercial_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobsRetrofit__c</field>
            <value>
                <elementReference>$Record.JobsRetrofit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs__c</field>
            <value>
                <elementReference>$Record.Jobs_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kind_of_Professional__c</field>
            <value>
                <elementReference>$Record.Kind_of_Professional_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Call_Time__c</field>
            <value>
                <elementReference>$Record.Last_Call_Time_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Date__c</field>
            <value>
                <elementReference>$Record.Lead_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.Lead_Disposition_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Life_Cycle_Status__c</field>
            <value>
                <elementReference>$Record.Lead_Life_Cycle_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Message__c</field>
            <value>
                <elementReference>$Record.Lead_Message_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Queue_Name__c</field>
            <value>
                <elementReference>$Record.Lead_Queue_Name_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referred_By__c</field>
            <value>
                <elementReference>$Record.Lead_Referred_By_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sales_Owner__c</field>
            <value>
                <elementReference>Get_Lead_Sales_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Details__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Details_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Subject__c</field>
            <value>
                <elementReference>$Record.Lead_Subject_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <elementReference>$Record.LEAD_TYPE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LightingSolutions__c</field>
            <value>
                <elementReference>$Record.LightingSolutions_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lighting_Design_Type__c</field>
            <value>
                <elementReference>$Record.Lighting_Design_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lighting_Floor_Plan_Available__c</field>
            <value>
                <elementReference>$Record.Lighting_Floor_Plan_Available_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lighting_Project_Size__c</field>
            <value>
                <elementReference>$Record.Lighting_Project_Size_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Misc_Notes__c</field>
            <value>
                <elementReference>$Record.Misc_Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Aesthetic__c</field>
            <value>
                <elementReference>$Record.Network_Aesthetic_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_POE__c</field>
            <value>
                <elementReference>$Record.Network_POE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Peak_Usage__c</field>
            <value>
                <elementReference>$Record.Network_Peak_Usage_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_PoEPlus__c</field>
            <value>
                <elementReference>$Record.Network_PoEPlus_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Speed_Unit__c</field>
            <value>
                <elementReference>$Record.Network_Speed_Unit_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Speed__c</field>
            <value>
                <elementReference>$Record.Network_Speed_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewConstruction__c</field>
            <value>
                <elementReference>$Record.NewConstruction_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Call_Time__c</field>
            <value>
                <elementReference>$Record.Next_Call_Time_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>$Record.Next_Steps_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.NumberOfEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Bathrooms__c</field>
            <value>
                <elementReference>$Record.Number_Of_Bathrooms_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Bedrooms__c</field>
            <value>
                <elementReference>$Record.Number_Of_Bedrooms_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Notes__c</field>
            <value>
                <elementReference>$Record.Onboarding_Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Created_End_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity_Created_End_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Created_Start_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity_Created_Start_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Created__c</field>
            <value>
                <elementReference>$Record.Opportunity_Created_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>$Record.Opportunity_Stage_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Referring_URL__c</field>
            <value>
                <elementReference>$Record.Original_Referring_URL_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Account_ID__c</field>
            <value>
                <elementReference>$Record.Other_Account_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Professionals__c</field>
            <value>
                <elementReference>$Record.Other_Professionals_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outdoor__c</field>
            <value>
                <elementReference>$Record.Outdoor_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerOrCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRIMARY_ROLE__c</field>
            <value>
                <elementReference>$Record.PRIMARY_ROLE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Page_Source__c</field>
            <value>
                <elementReference>$Record.Page_Source_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Last_Form_Completed__c</field>
            <value>
                <elementReference>$Record.Pardot_Last_Form_Completed_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Lead_Record_Type__c</field>
            <value>
                <elementReference>$Record.Pardot_Lead_Record_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Limitations__c</field>
            <value>
                <elementReference>$Record.Physical_Limitations_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>$Record.Preferred_Contact_Method_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <elementReference>$Record.Product_Interest_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>$Record.Profession_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Project_Completion_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Project_Name_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Spaces__c</field>
            <value>
                <elementReference>$Record.Project_Spaces_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type_Other__c</field>
            <value>
                <elementReference>$Record.Project_Type_Other_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Project_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Install_Date__c</field>
            <value>
                <elementReference>$Record.Projected_Install_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.RecordTypeIdADI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Account_Id__c</field>
            <value>
                <elementReference>$Record.SAP_Account_Id_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR_Notes__c</field>
            <value>
                <elementReference>$Record.SDR_Notes_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Security__c</field>
            <value>
                <elementReference>$Record.Safety_Security_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPeople__c</field>
            <value>
                <elementReference>$Record.SalesPeople_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Managed_Switch__c</field>
            <value>
                <elementReference>$Record.Secondary_Managed_Switch_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Switch_PoE__c</field>
            <value>
                <elementReference>$Record.Secondary_Switch_PoE_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Switch_Qty__c</field>
            <value>
                <elementReference>$Record.Secondary_Switch_Qty_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Switch__c</field>
            <value>
                <elementReference>$Record.Secondary_Switch_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size_of_project__c</field>
            <value>
                <elementReference>$Record.Size_of_project_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smart_Phone_User__c</field>
            <value>
                <elementReference>$Record.Smart_Phone_User_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SnapAV_Dealer_ID__c</field>
            <value>
                <elementReference>$Record.SnapAV_Dealer_ID_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Snap_Id__c</field>
            <value>
                <elementReference>$Record.Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speak_English__c</field>
            <value>
                <elementReference>$Record.Speak_English_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specify_Audio_Other__c</field>
            <value>
                <elementReference>$Record.Specify_Audio_Other_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specify_Video_Other__c</field>
            <value>
                <elementReference>$Record.Specify_Video_Other_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Footage__c</field>
            <value>
                <elementReference>$Record.Square_Footage_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Stage_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>States_Covered__c</field>
            <value>
                <elementReference>$Record.States_Covered_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Previous_Value__c</field>
            <value>
                <elementReference>$Record.Status_Previous_Value_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Streaming_Music_Services__c</field>
            <value>
                <elementReference>$Record.Streaming_Music_Services_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminated_Queue_Telesales_Date__c</field>
            <value>
                <elementReference>$Record.Terminated_Queue_Telesales_Date_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Ceiling_Depth__c</field>
            <value>
                <elementReference>$Record.Theater_Ceiling_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Customer_Budget__c</field>
            <value>
                <elementReference>$Record.Theater_Customer_Budget_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Dimensions__c</field>
            <value>
                <elementReference>$Record.Theater_Dimensions_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Display__c</field>
            <value>
                <elementReference>$Record.Theater_Display_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Floor_Plan_Available__c</field>
            <value>
                <elementReference>$Record.Theater_Floor_Plan_Available_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Max_Volume__c</field>
            <value>
                <elementReference>$Record.Theater_Max_Volume_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Speaker_Line__c</field>
            <value>
                <elementReference>$Record.Theater_Speaker_Line_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Speaker_Placement__c</field>
            <value>
                <elementReference>$Record.Theater_Speaker_Placement_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Type__c</field>
            <value>
                <elementReference>$Record.Theater_Type_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theater_Wall_Depth__c</field>
            <value>
                <elementReference>$Record.Theater_Wall_Depth_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Frame__c</field>
            <value>
                <elementReference>$Record.Time_Frame_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_3_brands_you_carry__c</field>
            <value>
                <elementReference>$Record.Top_3_brands_you_carry_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_3_Way_Light_Loads__c</field>
            <value>
                <elementReference>$Record.Total_3_Way_Light_Loads_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Dimmable__c</field>
            <value>
                <elementReference>$Record.Total_Dimmable_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Lighting_Loads__c</field>
            <value>
                <elementReference>$Record.Total_Lighting_Loads_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Lighting_Zones__c</field>
            <value>
                <elementReference>$Record.Total_Lighting_Zones_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.UTM_Campaign_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <elementReference>$Record.UTM_Medium_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.UTM_Source_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Market__c</field>
            <value>
                <elementReference>$Record.Vertical_Market_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Streaming_Services__c</field>
            <value>
                <elementReference>$Record.Video_Streaming_Services_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_primary_business_today__c</field>
            <value>
                <elementReference>$Record.What_is_your_primary_business_today_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_home_automation_brand__c</field>
            <value>
                <elementReference>$Record.Which_home_automation_brand_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_lines_do_you_carry__c</field>
            <value>
                <elementReference>$Record.Which_lines_do_you_carry_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Interested_in_Becoming_a_Dealer__c</field>
            <value>
                <elementReference>$Record.Why_Interested_in_Becoming_a_Dealer_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wired_High_Throughput_Devices__c</field>
            <value>
                <elementReference>$Record.Wired_High_Throughput_Devices_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wired_Low_Throughput_Devices__c</field>
            <value>
                <elementReference>$Record.Wired_Low_Throughput_Devices_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wireless_High_Throughput_Devices__c</field>
            <value>
                <elementReference>$Record.Wired_High_Throughput_Devices_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wireless_Low_Throughput_Devices__c</field>
            <value>
                <elementReference>$Record.Wireless_Low_Throughput_Devices_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_In_Business__c</field>
            <value>
                <elementReference>$Record.Years_In_Business_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fitting_into_business__c</field>
            <value>
                <elementReference>$Record.fitting_into_business_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_of_employees__c</field>
            <value>
                <elementReference>$Record.number_of_employees_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uuid__c</field>
            <value>
                <elementReference>$Record.uuid_c__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealer_1</name>
        <label>Get Dealer_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_2</name>
        <label>Get Dealer_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_2_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_3</name>
        <label>Get Dealer_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_3_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Name</name>
        <label>Get Dealer_Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Sales_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Name_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Sales_Owner</name>
        <label>Get Lead Sales Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Maps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Sales_Owner_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Id</name>
        <label>Get Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Snap_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Snap_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeIdSNAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SObjectApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType_Map__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeIdADI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DataSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Salesforce_Home</stringValue>
            </value>
        </filters>
        <object>Lead_SNAPfs__dlm</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>DataCloudDataChange</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
